.product {
	background-color: #fff;
	padding: 16px;
	border-radius: 5px;
}

p {
	color: rgb(64, 99, 103);
	font-size: 14px;
}

h5 {
	font-weight: bold;
	font-size: 25px;
}

.info {
	display: flex;
	width: 100%;
}

.name-price {
	display: flex;
	justify-content: space-between;
}

.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-left: 28px;
}

.wrapper p {
	margin-bottom: 10px;
}

.image img {
	width: 215px;
	height: 150px;
	object-fit: cover;
}

.actions {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	gap: 5px;
}

.actions a {
	display: block;
	text-decoration: none;
	height: 40px;
	line-height: 40px;
	padding: 0px 22px;
	background-color: #fff;
	color: rgb(0, 47, 52);
	border: 2px solid rgb(0, 47, 52);
	border-radius: 5px;
	color: rgb(0, 47, 52);
	font-weight: 700;
	font-size: 14px;
	transition: 0.1s;
}

.actions a:hover {
	background-color: #002f34;
	color: #fff;
}

#logout {
	background-color: #002f34;
	color: #fff;
	border: 5px solid rgb(0, 47, 52);
	border-radius: 5px;
	padding: 6px 22px;
	transition: 0.2s;
}

#logout:hover {
	background-color: #fff;
	color: #002f34;
}